
<nav>
    <ul>
        <li>
            <a routerLink="paginas/inicio">Inicio</a>
        </li>
        <li>
            <a routerLink="paginas/vehiculo">Vehiculo</a>
        </li>
        <li>
            <a routerLink="paginas/tarifa">Tarifa</a>
        </li>
        <li>
            <a routerLink="paginas/factura">Factura</a>
        </li>
        <li>
            <a routerLink="paginas/cliente">Cliente</a>
        </li>
        <li>
            <a routerLink="agregarticket">ticket</a>
        </li>
        <li>
            <a routerLink="listarticket">Listar ticket</a>
        </li>
       
    </ul>
</nav>        
